@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Pacifico&family=Sansita+Swashed:wght@400;600&family=Ubuntu:wght@400;500&display=swap");

/* outfit 300 400 600 sansita swashed 400 600 pacifico 400 balsamiq sans 400 700 */
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/screen-header.css";
@import "components/nav-bar.css";
@import "components/user-components.css";
@import "components/contents-border.css";
@import "components/icon-row.css";
@import "components/inside-header.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  font-family: balsamiq sans;
  margin-bottom: 100px;
}

main {
  padding: 0px var(--horizontal-space);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  background-clip: padding-box;
  border: 2.8px solid transparent;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}
