:root {
  --border-five: 1px solid rgba(0, 0, 0, 0.5);
  --border-two: 1px solid rgba(0, 0, 0, 0.2);
  --border-one: 1px solid rgba(0, 0, 0, 0.1);
  --horizontal-space: 25px;
  --yellow: #fae100;
  --brown: #c2a782;
  --brown-seven: rgba(194, 167, 130, 0.7);
  --brown-six: rgba(194, 167, 130, 0.6);
  --brown-four: rgba(194, 167, 130, 0.4);
  --brown-two: rgba(194, 167, 130, 0.2);
}
