.chat {
  margin-top: 98px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-date {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 23px;
  text-align: center;
  padding: 7px 10px;
  margin: 20px 0px 30px 0px;
  font-size: 15px;
}
.chat-date span {
  display: block;
  padding-top: 2px;
}

.message-row {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}
.message-row--multiple {
  margin-top: -18px;
}
.message-row--multiple--opponent {
  box-sizing: border-box;
  padding-left: 52px;
}
.message-row .message-row__column > img,
.message-row .message-content > img {
  width: 45px;
  height: 45px;
  border-radius: 18px;
}
.message-row .message-content > img {
  margin-top: 9px;
}
.message-row .message-row__column > img {
  margin-right: 7px;
}
.message-content {
  display: flex;
}
.message-author {
  font-size: 15px;
  opacity: 0.7;
}
.message-bubble {
  margin-top: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 12px 14px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  font-size: 18px;
}
.message-time {
  display: flex;
  align-items: flex-end;
  margin: 0px 5px;
  opacity: 0.6;
  font-size: 14px;
}
.message-row .message-row__column:last-child img {
  width: 200px;
  height: 200px;
}

.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message-content {
  flex-direction: row-reverse;
}
.message-row--own .message-bubble {
  background-color: var(--brown);
  border-radius: 15px;
  border-top-right-radius: 0px;
}

@keyframes messageuprise {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.message-row {
  animation: messageuprise 0.5s ease-in-out forwards;
  opacity: 0;
}
.message-row:nth-child(2) {
  animation-delay: 0.2s;
}
.message-row:nth-child(3) {
  animation-delay: 0.7s;
}
.message-row:nth-child(4) {
  animation-delay: 1.4s;
}
.message-row:nth-child(5) {
  animation-delay: 2.1s;
}
.message-row:nth-child(6) {
  animation-delay: 2.8s;
}
.message-row:nth-child(7) {
  animation-delay: 3.5s;
}
.message-row:nth-child(8) {
  animation-delay: 4.2s;
}
.message-row:nth-child(9) {
  animation-delay: 4.9s;
}

.reply {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  background-color: var(--brown);
  transition: transform 0.3s ease-in-out;
}
.reply__column:first-child {
  width: 10%;
  display: flex;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}
.reply__column:last-child {
  width: 90%;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.reply__column input {
  width: 93%;
  height: 30px;
  padding: 3px 8px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 25px;
  transition: transform 0.3s ease-in-out;
}
.reply__column:last-child button {
  position: absolute;
  right: 19px;
  top: 4px;
}
.reply__column:last-child > i {
  position: absolute;
  right: 62px;
  top: 11px;
}
.reply__column:last-child button,
.reply__column:last-child > i {
  transition: transform 0.3s ease-in-out;
}
.reply__column:first-child i {
  font-size: 25px;
  opacity: 0.5;
}
.reply__column:last-child button {
  background-color: var(--brown);
  border-radius: 50%;
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.reply:focus-within .reply__column:first-child {
  opacity: 0;
}
.reply:focus-within .reply__column:last-child {
  transform: translateY(-80px);
}
.reply:focus-within {
  transform: translateY(80px);
}
.reply:focus-within input {
  transform: translateX(-45px);
  width: 104.5%;
  border: 1px solid var(--brown);
}
.reply:focus-within .reply__column:last-child > i,
.reply:focus-within .reply__column:last-child button {
  transform: translateX(8px);
}

.didnt-read {
  position: absolute;
  right: 253px;
  bottom: 15px;
  font-size: 15px;
  color: var(--brown);
}
