.welcome-header {
  margin: 100px 0px;
}

.welcome-header__text {
  text-align: center;
}

.welcome-header__text h3 {
  font-size: 25px;
  margin-bottom: 25px;
}
.welcome-header__text h5 {
  font-size: 18px;
  padding: 0px 70px;
  opacity: 0.7;
}

.login-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 30px;
}

.login-input input {
  border: none;
  padding: 15px 0px;
  margin-bottom: 20px;
  font-size: 18px;
}

.login-input input[type="submit"] {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--brown);
  border-radius: 10px;
  cursor: pointer;
}

.login-input input:not([type="submit"]) {
  border-bottom: var(--border-five);
  transition: border-color 0.3s ease-in-out;
}

.login-input input:not([type="submit"])::placeholder {
  font-size: 18px;
  opacity: 0.7;
}

.login-input input:not([type="submit"]):focus {
  border-color: var(--brown);
}

.login-input a {
  text-align: center;
}
