.icon-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0px;
}

.icon-row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.icon-row__column:hover {
  transform: scale(1.1);
}
.icon-row__icon {
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.icon-row__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80px;
  height: 40px;
}
