.inside-header {
  position: fixed;
  top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--horizontal-space);
  box-sizing: border-box;
  background-color: #e5dccd;
  z-index: 2;
}

.inside-header__column i,
.inside-header__title {
  font-size: 25px;
}
.inside-header__column:not(:nth-child(2)) {
  width: 60px;
  text-align: center;
  display: flex;
}
.inside-header__column:first-child {
  justify-content: flex-start;
}
.inside-header__column:last-child {
  justify-content: flex-end;
}
.inside-header__column .fa-bars {
  margin-left: 20px;
}
