.user-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column img,
.user-component__column .user-component__icon {
  margin-right: 15px;
}
.user-component__profile img {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.user-component__chats img {
  width: 55px;
  height: 55px;
  border-radius: 25px;
}

.user-component__title {
  font-size: 20px;
  font-weight: 600;
}

.user-component__subtitle {
  font-size: 15px;
  font-weight: 400;
  margin-top: 7px;
  opacity: 0.6;
}

.user-component__column .user-component__time {
  opacity: 0.6;
  margin-bottom: 5px;
}

.user-component .user-component__noti {
  width: 23px;
  height: 23px;
  background-color: tomato;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-component__column:last-child:not(.user-component__channel
    .user-component__column:last-child) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__icon {
  width: 55px;
  height: 55px;
  background-color: var(--brown);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-component__icon i {
  position: relative;
}
.user-component__icon span {
  z-index: 1;
  font-size: 15px;
  position: absolute;
  color: var(--brown);
  right: 7px;
  top: 7px;
  font-family: sansita swashed;
}

.user-component__channel .user-component__column:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-component__channel .user-component__column:last-child span {
  margin-right: 5px;
}
