.user-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column img,
.user-component__column .user-component__icon {
  margin-right: 15px;
}
.user-component__profile img,
.user-component__more img {
  width: 70px;
  height: 70px;
  border-radius: 30px;
}
.user-component__chats img {
  width: 62px;
  height: 62px;
  border-radius: 25px;
}
.user-component__friends img {
  width: 55px;
  height: 55px;
  border-radius: 25px;
}
.user-component__recommended-friends img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.user-component__title {
  font-size: 20px;
  font-weight: 600;
}

.user-component__subtitle {
  font-size: 15px;
  font-weight: 400;
  margin-top: 7px;
  opacity: 0.6;
}

.user-component__column .user-component__time {
  opacity: 0.6;
  margin-bottom: 5px;
}

.user-component .user-component__noti {
  width: 23px;
  height: 23px;
  background-color: tomato;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-component .user-component__noti span {
  padding-top: 2px;
}

.user-component__column:last-child:not(.user-component__channel
    .user-component__column:last-child) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__icon {
  width: 55px;
  height: 55px;
  background-color: var(--brown);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-component__icon i {
  position: relative;
}
.user-component__icon span {
  z-index: 1;
  font-size: 15px;
  position: absolute;
  color: var(--brown);
  right: 7px;
  top: 7px;
  font-family: sansita swashed;
}

.user-component__channel .user-component__column:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.user-component__channel .user-component__column:last-child span {
  margin-right: 5px;
  font-size: 15px;
}
.user-component__channel .user-component__column:last-child i {
  font-size: 15px;
}

.user-component__channel .user-component__column i {
  font-size: 32px;
}

.user-component .profile-music {
  border: 1px solid #00cd3c;
  border-radius: 25px;
  padding: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.user-component .profile-music span {
  opacity: 0.8;
}
.user-component .profile-music i {
  color: #00cd3c;
  margin-left: 5px;
  font-size: 14px;
}

.user-component__recommended-friends .register-friend {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brown);
  border-radius: 5px;
  padding: 7px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.user-component__recommended-friends .register-friend:hover {
  background-color: rgb(156, 126, 87);
}
.user-component__more .fa-comment-alt {
  font-size: 25px;
}
.user-component__more {
  padding: 20px 20px 10px 20px;
  margin-bottom: 0;
  background-color: var(--brown);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.user-component__more .user-component__subtitle {
  display: flex;
  align-items: center;
}
.user-component__more .user-component__subtitle span {
  padding-top: 2.5px;
  margin-right: 3px;
}

.user-component__chats .user-component__title {
  display: flex;
}
.user-component__chats .user-component__title .me {
  font-family: outfit;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 13px;
  text-align: center;
  margin-right: 5px;
}
.user-component__chats .user-component__title .me span {
  display: block;
  padding-top: 2px;
}
.user-component__chats:last-child .user-component__column:last-child {
  margin-bottom: 20px;
}
